@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap");

html {
  font-size: 1.2rem;
}

body {
  background: linear-gradient(to bottom right, #000427, #1b1e42);
  min-height: 500rem;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  box-shadow: 0 0.01rem 0.1rem #94c8db;
  backdrop-filter: blur(0.2rem);
}

.navbar .navActive {
  background: linear-gradient(to bottom right, #219fcd, #9198e5);
  min-height: 100vh;
}

.navbar .offcanvas-header {
  border-bottom: 0.01rem solid#94c8db;
}

header .container-fluid .row {
  min-height: 100vh;
  background-image: url(foto/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header .container-fluid .row .col h1 {
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  line-height: 3.9rem;
}

/* media query */
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  html {
    font-size: 70%;
  }
}
